name: NestJS CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
    workflow_dispatch:

permissions:
    contents: read
    packages: write

jobs:
    build-test:
        name: Build, Test, and Lint
        runs-on: ubuntu-latest
        env:
            IMAGE_TAG: ${{github.sha}}

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build Docker image (builder stage)
              run: |
                docker build --target builder -t my-app-builder:${{env.IMAGE_TAG}} .

            - name: Run Unit Tests
              run: |
                docker run --rm my-app-builder:${{env.IMAGE_TAG}} npm test

            - name: Run Lint and Static Code Analysis
              run: |
                docker run --rm my-app-builder:${{env.IMAGE_TAG}} npm run lint

    push:
        name: Build production image, scan and push
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        runs-on: ubuntu-latest
        needs: build-test
 
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in to GHCR
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{github.actor}}
                password: ${{secrets.GITHUB_TOKEN}}

            - name: Build final production Docker image
              run: |
                docker build --target runner -t ghcr.io/${{github.repository}}:${{github.sha}} .

            - name: Scan Docker image for vulnerabilities
              uses: aquasecurity/trivy-action@master
              with:
                image-ref: ghcr.io/${{github.repository}}:${{github.sha}}
                format: 'table'
                severity: 'CRITICAL'
                exit-code: 1

            - name: Push Docker Image
              run: docker push ghcr.io/${{github.repository}}:${{github.sha}}